In [1]:
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt
from tensorflow.keras.utils import to_categorical
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
from sklearn.metrics import classification_report, accuracy_score, roc_curve, auc, recall_score
from sklearn.model_selection import train_test_split, TimeSeriesSplit
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import sqlite3
import pandas as pd
from keras.callbacks import EarlyStopping
from sklearn.base import BaseEstimator, TransformerMixin
import numpy as np

In [2]:
conn = sqlite3.connect(r'C:\Users\spiri\codingbootcamp\Final-project-C4Y\data.db')
cursor = conn.cursor()
query = ('''
WITH mean_deposite as (
    SELECT 
        client_id,
        AVG(balance) as mean_balance,
        MAX(balance) as max_balance,
        MIN(balance) as min_balance,
        MAX(balance) - MIN(balance) as dif_balance,
        currency
    FROM balances
    GROUP BY client_id
)
SELECT client.* , client_products.*, mean_deposite.*
FROM client
LEFT JOIN inv_campaign_eval ON client.client_id = inv_campaign_eval.client_id
LEFT JOIN client_products ON client.client_id = client_products.client_id
LEFT JOIN mean_deposite ON client.client_id = mean_deposite.client_id
WHERE inv_campaign_eval.client_id is null''')
df = pd.read_sql_query(query, conn)

df = df.T.drop_duplicates().T

import joblib
age_pipeline = joblib.load(r'C:\Users\spiri\codingbootcamp\Final-project-C4Y\age_pipeline.pkl')

missing_age_indices = df['age'].isnull()
predicted_ages = age_pipeline.predict(df[missing_age_indices])
df.loc[missing_age_indices, 'age'] = predicted_ages

bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

query1 = ('''
Select * 
from balances
left join inv_campaign_eval
on balances.client_id = inv_campaign_eval.client_id
WHERE inv_campaign_eval.client_id is null; ''')
dif_bal = pd.read_sql_query(query1, conn)
dif_bal = dif_bal.T.drop_duplicates().T
dif_bal.dropna(axis = 1, inplace = True)
rate = {'CZK': 1, 'USD': 23, 'EUR': 25}
dif_bal.balance = dif_bal.apply(lambda row: row['balance'] * rate[row['currency']], axis=1)

dif_bal['balance_change'] = dif_bal.groupby('client_id')['balance'].diff()
dif_bal['balance_change'].fillna(0, inplace=True)

sum_dif = dif_bal.groupby('client_id')['balance_change'].apply(lambda arr: sum(x ** 2 for x in arr))
dif_bal = dif_bal.merge(sum_dif, on='client_id', how='left')
dif_bal

dif_bal.drop(columns=['date', 'balance', 'balance_change_x', 'currency',], inplace=True)
dif_bal.drop_duplicates(inplace=True)
df = df.merge(dif_bal, on='client_id', how='left')

df.mean_balance = pd.to_numeric(df.mean_balance)
df.max_balance = pd.to_numeric(df.max_balance)
df.min_balance = pd.to_numeric(df.min_balance)
df.dif_balance = pd.to_numeric(df.dif_balance)
df.age=pd.to_numeric(df.age)
df.age_group=pd.to_numeric(df.age_group)

C:\Users\spiri\AppData\Local\Temp\ipykernel_13280\2090227103.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dif_bal['balance_change'].fillna(0, inplace=True)

In [18]:
df

,client_id,age,job,marital,education,gender,has_deposits,loan,has_insurance,has_mortgage,mean_balance,max_balance,min_balance,dif_balance,currency,age_group,balance_change_y
0,1222646323,46.0,services,divorced,unknown,M,no,no,n,no,960.562073,1054.517907,886.126906,168.391001,CZK,40,81006.572385
1,451375919,33.0,admin.,single,secondary,F,no,no,n,yes,1221.016419,1303.494818,1100.917203,202.577615,CZK,30,103154.973222
2,338972671,44.0,self-employed,married,secondary,F,no,no,y,yes,297.993265,446.676191,202.053088,244.623103,CZK,40,234426.309740
3,1472834688,36.0,blue-collar,married,primary,M,yes,no,n,yes,1919.318145,2011.939205,1853.387429,158.551776,CZK,30,103686.130884
4,1068680340,63.0,admin.,married,secondary,F,yes,no,n,yes,0.972130,77.806737,-104.261740,182.068477,CZK,60,128401.966138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8858,440873221,56.0,management,divorced,tertiary,F,no,no,n,no,386.995526,469.647273,270.665696,198.981578,CZK,50,130624.277077
8859,543198889,40.0,blue-collar,single,unknown,M,no,no,n,yes,18.441905,125.568092,-98.265981,223.834074,CZK,40,182976.060921
8860,458558558,41.0,housemaid,divorced,primary,F,no,no,n,yes,25.552707,116.816943,-117.991255,234.808198,CZK,40,179548.802788
8861,1426334329,59.0,technician,married,primary,F,no,no,y,yes,3157.720202,3263.371390,3024.384824,238.986566,CZK,50,152024.406007
8862,831035343,42.0,management,married,tertiary,M,no,no,n,no,24771.387533,24872.197971,24678.831382,193.366588,CZK,40,159124.370207

In [15]:
import joblib
class InteractionScoreTransformer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        # Assuming the first two columns are the ones we're interested in
        self.max_interaction = X[:, :2].max()
        return self

    def transform(self, X):
        # Create an interaction score: a simple product of the first two columns
        interaction_score = (X[:, 0] * X[:, 1]) / self.max_interaction
        return np.hstack((X, interaction_score[:, None]))

pipeline = joblib.load(r'C:\Users\spiri\codingbootcamp\Final-project-C4Y\pipeline_simplified.pkl')

In [16]:
result = []
def prediction(X):
    predictions = pipeline.predict(X)  # Call predict method of the pipeline
    
    for i, pred in enumerate(predictions):
        result.append((X.iloc[i]['client_id'], pred))
    return result

In [19]:
prediction(df)
res = pd.DataFrame(result)
res_suc = res[res[1] == 1]
map = {0: 'client_id', 1: 'outcome'}
outcome = res_suc.rename(columns=map)
outcome

       client_id  outcome
4     1068680340        1
6      422084751        1
7      123316323        1
9     1861869059        1
14     122279077        1
...          ...      ...
8836  1563192915        1
8838  1903776674        1
8839   887694228        1
8840  1182886062        1
8845  1208330461        1

[2565 rows x 2 columns]

In [3]:
model = joblib.load(r'C:\Users\spiri\codingbootcamp\Final-project-C4Y\model_simplified.pkl')

In [9]:
X = df[['client_id', 'age', 'has_deposits', 'loan', 'has_mortgage', 'balance_change_y', 'max_balance', 'education']]

label_encoders = {}
columns_to_encode = ['has_deposits', 'loan', 'has_mortgage','education' ]

for col in columns_to_encode:
    label_encoders[col] = LabelEncoder()
    X.loc[:, col] = label_encoders[col].fit_transform(X[col])

scaler = StandardScaler()
X[['age', 'has_deposits', 'loan', 'has_mortgage', 'balance_change_y', 'max_balance', 'education']] = scaler.fit_transform(X[['age', 'has_deposits', 'loan', 'has_mortgage', 'balance_change_y', 'max_balance', 'education']])

X.set_index(X.client_id, inplace=True)
X.drop(columns='client_id', inplace=True)

C:\Users\spiri\AppData\Local\Temp\ipykernel_13280\3732423631.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[['age', 'has_deposits', 'loan', 'has_mortgage', 'balance_change_y', 'max_balance', 'education']] = scaler.fit_transform(X[['age', 'has_deposits', 'loan', 'has_mortgage', 'balance_change_y', 'max_balance', 'education']])
C:\Users\spiri\AppData\Local\Temp\ipykernel_13280\3732423631.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(columns='client_id', inplace=True)

In [10]:
X

,age,has_deposits,loan,has_mortgage,balance_change_y,max_balance,education
client_id,,,,,,,
1222646323,0.432809,-0.845171,-0.403507,-0.96289,-1.050456,-0.162368,2.303339
451375919,-0.694158,-0.845171,-0.403507,1.03854,-0.730492,-0.084279,-0.346689
338972671,0.259429,-0.845171,-0.403507,1.03854,1.165904,-0.353010,-0.346689
1472834688,-0.434089,1.183193,-0.403507,1.03854,-0.722819,0.137915,-1.671704
1068680340,1.906535,1.183193,-0.403507,1.03854,-0.365764,-0.468701,-0.346689
...,...,...,...,...,...,...,...
440873221,1.299707,-0.845171,-0.403507,-0.96289,-0.333660,-0.345805,0.978325
543198889,-0.087330,-0.845171,-0.403507,1.03854,0.422634,-0.453722,2.303339
458558558,-0.000640,-0.845171,-0.403507,1.03854,0.373122,-0.456466,-1.671704
1426334329,1.559776,-0.845171,-0.403507,1.03854,-0.024506,0.530412,-1.671704
831035343,0.086050,-0.845171,-0.403507,-0.96289,0.078063,7.307753,0.978325

In [11]:
result1 = []

def prediction(X):
    predictions = model.predict(X)  # Call predict method of the pipeline
    
    for client_id, pred in zip(X.index, predictions):
        result1.append((client_id, pred))
    return result1

prediction(X)

c:\Users\spiri\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

[(1222646323, 0),
 (451375919, 0),
 (338972671, 0),
 (1472834688, 0),
 (1068680340, 1),
 (711558356, 0),
 (422084751, 1),
 (123316323, 1),
 (1321691715, 0),
 (1861869059, 1),
 (1595517041, 0),
 (1408023785, 0),
 (1327432047, 0),
 (1147481134, 0),
 (122279077, 1),
 (1177854254, 1),
 (985873256, 1),
 (853552378, 0),
 (1687099232, 1),
 (891087466, 0),
 (1035374127, 1),
 (1037143944, 0),
 (308162265, 1),
 (1893016025, 0),
 (1854082979, 1),
 (1600875950, 0),
 (1991899634, 1),
 (638886315, 0),
 (1208147537, 0),
 (1322726978, 1),
 (1256445690, 0),
 (1652258354, 1),
 (1112221396, 0),
 (732497257, 0),
 (140285460, 0),
 (735985444, 0),
 (1344298467, 0),
 (1122977086, 0),
 (1972322805, 1),
 (512479010, 0),
 (1110057717, 0),
 (1433542674, 0),
 (1041617418, 0),
 (134507716, 0),
 (141363965, 0),
 (644584000, 0),
 (730164497, 0),
 (1000803517, 0),
 (785941673, 0),
 (1992212658, 0),
 (1425881145, 0),
 (626144979, 0),
 (1196534790, 0),
 (701373306, 0),
 (810743044, 0),
 (1031945947, 1),
 (1017336008, 1),
 (853563111, 0),
 (1086314518, 0),
 (1490660020, 1),
 (1263025318, 1),
 (1034650346, 0),
 (891051861, 0),
 (1006445078, 0),
 (1947572215, 0),
 (568833929, 0),
 (1787333249, 0),
 (205152107, 1),
 (1637019918, 1),
 (1542990309, 0),
 (1885211263, 0),
 (1170788866, 1),
 (580402828, 0),
 (646856341, 0),
 (192509581, 1),
 (688168404, 0),
 (746364756, 0),
 (214922788, 0),
 (389682777, 1),
 (1812692074, 1),
 (1928867367, 0),
 (286911378, 0),
 (1840726854, 0),
 (1493903929, 1),
 (1108555957, 0),
 (1154311297, 0),
 (1763532850, 1),
 (1550760651, 0),
 (217282053, 0),
 (1791170525, 0),
 (1325204578, 0),
 (417821881, 1),
 (1619665559, 1),
 (1182331091, 0),
 (440189671, 1),
 (228517183, 0),
 (1737645892, 1),
 (513808882, 1),
 (1466558639, 0),
 (1391343651, 0),
 (366437162, 1),
 (1663485904, 1),
 (1277705540, 1),
 (1695434078, 1),
 (1153618830, 1),
 (290459554, 0),
 (1870260774, 0),
 (1745881958, 0),
 (965757485, 1),
 (1039962921, 1),
 (990386514, 0),
 (707133965, 1),
 (1151030976, 0),
 (1562311764, 1),
 (1642301496, 0),
 (672684628, 0),
 (886972937, 1),
 (1132979353, 1),
 (890778137, 1),
 (1354656005, 0),
 (1268368986, 0),
 (326361139, 1),
 (1461801238, 0),
 (1456911011, 1),
 (1834524926, 0),
 (1961769341, 0),
 (645164028, 0),
 (1199198186, 0),
 (1959977776, 0),
 (1546548434, 0),
 (160014444, 0),
 (1394474757, 1),
 (1871621659, 0),
 (165921640, 0),
 (1657628568, 0),
 (125847324, 1),
 (300665285, 0),
 (1854537526, 0),
 (205660519, 0),
 (1440727767, 0),
 (351342339, 0),
 (1477881399, 1),
 (1654968886, 0),
 (314048775, 0),
 (1406451285, 0),
 (1870959656, 0),
 (1944180870, 1),
 (1317221051, 1),
 (565547512, 1),
 (1324838429, 1),
 (1818750258, 0),
 (452061612, 1),
 (1989570073, 0),
 (451826022, 1),
 (1180648968, 0),
 (1386817208, 1),
 (298067448, 0),
 (1978121396, 1),
 (269987518, 0),
 (723904241, 1),
 (1264435621, 1),
 (1125176379, 1),
 (543657745, 0),
 (601868871, 1),
 (165256735, 0),
 (1651839757, 0),
 (1178391114, 0),
 (694701520, 1),
 (108296535, 1),
 (1637296905, 1),
 (1483766273, 0),
 (887093410, 1),
 (354784342, 1),
 (772175771, 0),
 (479310442, 0),
 (272577192, 0),
 (443143456, 1),
 (493461691, 1),
 (1729906415, 0),
 (661775220, 0),
 (1253803928, 0),
 (1573084614, 0),
 (432261145, 0),
 (1770234086, 0),
 (1961088399, 0),
 (1017218639, 1),
 (308537690, 1),
 (839561676, 1),
 (1523085537, 0),
 (482556556, 0),
 (1893862313, 0),
 (706507449, 1),
 (1753948290, 0),
 (714319748, 0),
 (195675698, 0),
 (1403330236, 0),
 (1561180190, 0),
 (1970885453, 1),
 (106019215, 1),
 (1973579552, 0),
 (1329157784, 0),
 (280488442, 0),
 (757265848, 0),
 (147008960, 0),
 (671159433, 0),
 (751411588, 0),
 (785992043, 0),
 (1487147020, 1),
 (441212165, 0),
 (1742283075, 0),
 (1308505315, 1),
 (749262689, 1),
 (1979246858, 0),
 (422666030, 0),
 (918269475, 0),
 (1595271251, 0),
 (1142073934, 0),
 (1332310455, 0),
 (1824069073, 0),
 (1210387630, 0),
 (1628869855, 0),
 (626116775, 0),
 (767964447, 0),
 (1493056474, 0),
 (473862722, 0),
 (1296226472, 0),
 (392927976, 0),
 (253241599, 0),
 (916802193, 1),
 (296804562, 1),
 (1410612750, 0),
 (479165593, 0),
 (1673787702, 0),
 (1921473481, 0),
 (1538555822, 0),
 (942820324, 0),
 (980730706, 0),
 (645977894, 0),
 (1321615892, 0),
 (482231470, 0),
 (1564493849, 1),
 (1602166713, 0),
 (1752748468, 0),
 (1167834272, 0),
 (1287117991, 1),
 (596190637, 1),
 (1968578339, 1),
 (749041244, 0),
 (1748540910, 0),
 (1172014709, 0),
 (1450476109, 0),
 (361584973, 0),
 (693003935, 0),
 (1759514200, 0),
 (282611735, 0),
 (1349595153, 1),
 (1969285346, 0),
 (327540295, 0),
 (1719368606, 0),
 (690571585, 1),
 (497992796, 1),
 (1249219736, 0),
 (1198249373, 1),
 (1001285748, 0),
 (812384993, 1),
 (1210219772, 0),
 (139652821, 0),
 (540168241, 1),
 (1063124591, 1),
 (1559981514, 0),
 (987320108, 1),
 (1718526551, 0),
 (638187058, 0),
 (1704909165, 1),
 (120637062, 0),
 (1248446935, 0),
 (1374312337, 0),
 (1332404888, 0),
 (661377985, 1),
 (1458305696, 0),
 (1674576317, 0),
 (1022111451, 0),
 (503741083, 0),
 (1974749783, 0),
 (1080205119, 0),
 (1937306404, 0),
 (1130408245, 0),
 (468447325, 1),
 (980599515, 0),
 (1919510467, 0),
 (1857499961, 0),
 (283610399, 0),
 (319247595, 1),
 (688840852, 1),
 (1395675176, 1),
 (1811443368, 0),
 (1131104534, 1),
 (1341293390, 0),
 (637361630, 0),
 (412792945, 0),
 (1352311988, 0),
 (1995994246, 1),
 (908465665, 0),
 (1126740176, 1),
 (540491623, 1),
 (1782271648, 0),
 (1549144175, 1),
 (497556637, 0),
 (747688357, 0),
 (1224237630, 1),
 (601917681, 0),
 (1928292126, 1),
 (966048223, 0),
 (477378128, 0),
 (826008682, 0),
 (1419227754, 0),
 (1352647725, 0),
 (1315403266, 0),
 (932949708, 0),
 (931738524, 0),
 (908120100, 1),
 (831257396, 1),
 (228863041, 1),
 (1687918635, 0),
 (205608931, 0),
 (1281355836, 1),
 (109113922, 1),
 (1523274478, 1),
 (1872246051, 0),
 (1322978317, 0),
 (1700907992, 0),
 (1033494102, 0),
 (691217350, 0),
 (783946748, 0),
 (1225136910, 1),
 (1383219221, 0),
 (838927369, 0),
 (883426391, 0),
 (1108744660, 0),
 (773535138, 0),
 (1812381933, 0),
 (511787908, 1),
 (1759675877, 0),
 (312713815, 0),
 (1741013956, 0),
 (719308905, 1),
 (371690729, 1),
 (813505401, 0),
 (1667568658, 0),
 (923367224, 0),
 (190219289, 0),
 (1660973398, 0),
 (1745698405, 1),
 (1081741517, 0),
 (1527748589, 0),
 (908157690, 0),
 (619029441, 0),
 (1107631429, 0),
 (1002613769, 0),
 (1674968762, 1),
 (1785174728, 1),
 (1086506974, 1),
 (699566456, 0),
 (309029955, 0),
 (199682690, 0),
 (141547777, 1),
 (1730788613, 0),
 (1700630812, 0),
 (1778593881, 0),
 (1788972825, 0),
 (729076546, 1),
 (762589653, 0),
 (1018370516, 0),
 (1235770403, 0),
 (373357791, 1),
 (922229308, 1),
 (647186046, 0),
 (1566092753, 1),
 (524608006, 0),
 (896347593, 0),
 (1242708963, 1),
 (731588114, 0),
 (1972254906, 0),
 (1049735880, 1),
 (222111694, 1),
 (1460053624, 0),
 (223162963, 1),
 (915678538, 0),
 (499981625, 0),
 (956873708, 0),
 (743869030, 0),
 (266302745, 0),
 (316545356, 0),
 (1639500210, 0),
 (473992334, 0),
 (449655579, 0),
 (1859710157, 1),
 (574961634, 1),
 (969450757, 1),
 (232866077, 0),
 (1192768572, 0),
 (1359487732, 0),
 (980335354, 1),
 (229194069, 0),
 (296701865, 1),
 (214789314, 1),
 (1705948953, 1),
 (404356036, 1),
 (161400029, 0),
 (794992661, 0),
 (539130595, 0),
 (234530592, 0),
 (1761379993, 1),
 (704717527, 1),
 (603616778, 0),
 (1219970694, 1),
 (1223313277, 0),
 (240208091, 0),
 (262336281, 1),
 (1218187488, 1),
 (416317592, 1),
 (1752292636, 0),
 (216864237, 0),
 (1099604792, 0),
 (653564951, 0),
 (766283875, 0),
 (564485949, 1),
 (1714972668, 1),
 (599767327, 0),
 (185138403, 0),
 (613907125, 0),
 (769040919, 0),
 (522726657, 0),
 (677039214, 1),
 (1613325807, 0),
 (792937325, 1),
 (361851750, 0),
 (707846982, 0),
 (1271406253, 0),
 (1766284184, 0),
 (856653400, 0),
 (1673044027, 1),
 (147028174, 0),
 (558434194, 1),
 (1209793058, 0),
 (327527933, 0),
 (1847895810, 0),
 (439522691, 0),
 (400728239, 0),
 (1928697987, 1),
 (1732190443, 1),
 (1329008647, 0),
 (499250574, 0),
 (306099205, 0),
 (255201444, 0),
 (1241081129, 0),
 (636614713, 0),
 (1676961942, 1),
 (327621890, 0),
 (741444475, 0),
 (739404425, 1),
 (287290011, 0),
 (1621001130, 1),
 (1130435253, 1),
 (685383766, 1),
 (1845120823, 0),
 (1989960727, 0),
 (1694344981, 0),
 (194952758, 0),
 (1837780900, 1),
 (1696159160, 0),
 (1927883014, 1),
 (1803910777, 0),
 (1686199050, 0),
 (1603272216, 0),
 (527654468, 0),
 (1435440420, 1),
 (239483907, 0),
 (1529329583, 1),
 (1161939126, 0),
 (168096858, 1),
 (1684400891, 1),
 (1608361625, 0),
 (1292568330, 1),
 (465367616, 0),
 (1411844520, 1),
 (823860295, 0),
 (1439418666, 0),
 (1618724307, 0),
 (693223077, 0),
 (441516304, 0),
 (1147702453, 1),
 (939530170, 0),
 (577876108, 0),
 (1339896065, 1),
 (801725884, 0),
 (1583060157, 1),
 (1735294363, 0),
 (1308505646, 1),
 (956165381, 0),
 (409954396, 0),
 (899316827, 0),
 (1214668232, 1),
 (1862055493, 1),
 (684062779, 1),
 (332275443, 0),
 (196804735, 0),
 (1398048775, 1),
 (1682598033, 0),
 (661225089, 0),
 (578990210, 0),
 (1663746940, 1),
 (1730999363, 0),
 (340819344, 0),
 (489567264, 0),
 (1611499123, 1),
 (885786814, 0),
 (504574643, 1),
 (593306370, 1),
 (750063561, 0),
 (1691773190, 0),
 (880804450, 0),
 (565042983, 0),
 (1481636764, 0),
 (1584918254, 0),
 (713462279, 0),
 (1292408743, 0),
 (861423671, 1),
 (652830902, 0),
 (1436780812, 0),
 (1823449905, 0),
 (1725721051, 0),
 (1653018251, 0),
 (1706813068, 0),
 (868247513, 0),
 (1888843636, 1),
 (1764930911, 0),
 (1889337233, 0),
 (146432197, 0),
 (1752800150, 0),
 (1974411836, 0),
 (727036799, 1),
 (1045318906, 0),
 (172758273, 0),
 (286217774, 0),
 (1584030181, 0),
 (367508507, 0),
 (103278285, 0),
 (1998762652, 0),
 (1627580079, 0),
 (1211627894, 0),
 (1088904985, 0),
 (1923645810, 0),
 (1447266678, 0),
 (362107442, 1),
 (1505976089, 0),
 (328816972, 0),
 (1460213075, 0),
 (1814788493, 1),
 (1849763122, 0),
 (1754150044, 1),
 (1943048008, 0),
 (1134715458, 0),
 (1342135034, 0),
 (610490659, 1),
 (302633452, 0),
 (1861160258, 1),
 (1368270933, 1),
 (492670207, 0),
 (857248685, 1),
 (1303858595, 0),
 (1070456076, 1),
 (1726478767, 1),
 (1159026952, 1),
 (1824752166, 0),
 (1793371838, 0),
 (709784020, 0),
 (1088552917, 0),
 (1478797648, 0),
 (1150485461, 1),
 (515446905, 1),
 (618305160, 1),
 (746337742, 0),
 (1406983715, 0),
 (189270742, 0),
 (1878877591, 0),
 (613435950, 0),
 (324008585, 0),
 (1696908357, 0),
 (491706809, 1),
 (726366404, 0),
 (1951922656, 1),
 (146282074, 0),
 (1136978764, 0),
 (1886472837, 0),
 (429489966, 1),
 (233468953, 1),
 (1836555919, 0),
 (1336913889, 0),
 (1614257797, 1),
 (1058010984, 1),
 (1734798287, 1),
 (1631280601, 1),
 (250134959, 1),
 (1743061946, 1),
 (1202727607, 0),
 (1051406442, 0),
 (1820526539, 1),
 (1487752779, 0),
 (403018870, 0),
 (277548374, 0),
 (581131177, 1),
 (314160951, 0),
 (1028151910, 0),
 (236769679, 0),
 (1595928513, 0),
 (1215758978, 0),
 (1986939642, 0),
 (1179623595, 0),
 (1486449590, 0),
 (1130445531, 0),
 (110702393, 0),
 (1970804270, 0),
 (654235177, 0),
 (248331887, 0),
 (1932789464, 0),
 (355521680, 0),
 (656223348, 0),
 (1782173351, 0),
 (848385469, 0),
 (182665200, 0),
 (1503625890, 1),
 (1018476411, 0),
 (1445476709, 1),
 (1386184527, 0),
 (816293484, 0),
 (288773132, 0),
 (214884170, 1),
 (1765867299, 1),
 (1121756080, 0),
 (1665481809, 0),
 (1576112204, 0),
 (1670076690, 0),
 (310430176, 1),
 (485814638, 0),
 (1216128835, 0),
 (1160338846, 0),
 (925191342, 0),
 (1214661297, 1),
 (1016160556, 0),
 (875793026, 0),
 (1471950327, 1),
 (1487338117, 0),
 (382604179, 0),
 (965658339, 1),
 (1497387687, 0),
 (1825655779, 1),
 (901146277, 1),
 (1515105687, 0),
 (237471062, 0),
 (1417146663, 0),
 (1053434038, 1),
 (966048704, 0),
 (437593520, 0),
 (1949189007, 0),
 (1936909208, 0),
 (220277521, 0),
 (589866672, 0),
 (1869512138, 0),
 (1568513794, 0),
 (1028900885, 0),
 (1862182211, 1),
 (1240048663, 0),
 (371344552, 1),
 (1314165447, 0),
 (202960181, 0),
 (991050854, 1),
 (412257584, 0),
 (1895441865, 0),
 (1885662549, 0),
 (1235191862, 1),
 (1342015317, 0),
 (1502319020, 0),
 (341910142, 0),
 (510844895, 1),
 (1359989598, 0),
 (1898663107, 0),
 (491838146, 0),
 (852625793, 0),
 (1554112064, 1),
 (494739354, 1),
 (406144309, 0),
 (1344518131, 0),
 (156572807, 1),
 (1387287970, 0),
 (560941181, 0),
 (729927391, 1),
 (214868081, 0),
 (1828319058, 0),
 (1550899005, 0),
 (1999463182, 0),
 (708224767, 1),
 (975848325, 0),
 (1377063362, 1),
 (1251643661, 1),
 (287399287, 0),
 (1408011924, 0),
 (471321593, 1),
 (1743199339, 1),
 (1930683043, 1),
 (1205876871, 1),
 (221008979, 1),
 (1645044636, 1),
 (194820011, 1),
 (1178763771, 1),
 (1070495074, 0),
 (687971589, 0),
 (290760168, 0),
 (1874123504, 1),
 (1603451113, 0),
 (1076470383, 0),
 (1972577374, 0),
 (1065661245, 0),
 (793264383, 0),
 (1393106371, 0),
 (510818569, 0),
 (1026534940, 0),
 (153886844, 0),
 (1648519302, 0),
 (714198221, 0),
 (336672169, 1),
 (911047528, 0),
 (1256561071, 0),
 (1492001765, 0),
 (938110285, 1),
 (959261673, 0),
 (764355224, 0),
 (1062386388, 0),
 (500820239, 1),
 (510196091, 1),
 (1103675782, 1),
 (291892183, 0),
 (487328549, 1),
 (406950234, 1),
 (645887958, 0),
 (1574573794, 0),
 (1173785086, 0),
 (549298989, 0),
 (1692418545, 0),
 (987247957, 0),
 (1028057464, 0),
 (1957255654, 0),
 (170520953, 0),
 (1311860434, 0),
 (1484219255, 0),
 (997626878, 1),
 (1765389621, 0),
 (1005529539, 0),
 (1160816480, 1),
 (1870187168, 0),
 (1234860943, 0),
 (546056838, 0),
 (281782442, 0),
 (151293774, 0),
 (1514510507, 0),
 (670971872, 0),
 (337363194, 1),
 (1575969799, 1),
 (320135446, 0),
 (275448740, 0),
 (1488739206, 1),
 (406923400, 0),
 (1905538075, 1),
 (696259020, 0),
 (167916114, 0),
 (732581532, 1),
 (430941011, 0),
 (605315963, 0),
 (614572515, 1),
 (657534377, 1),
 (737634777, 1),
 (516732044, 1),
 (116266023, 0),
 (1899062036, 0),
 (705279909, 0),
 (573627100, 0),
 (1255011300, 0),
 (1148144808, 0),
 (1687406150, 0),
 (1858768017, 1),
 (965532815, 1),
 (431570993, 0),
 (585305391, 0),
 (1755730111, 1),
 (1717564168, 1),
 (557018444, 0),
 (556162623, 0),
 (1599789148, 1),
 (799122044, 0),
 (1654726811, 0),
 (753017275, 1),
 (1689044674, 0),
 (892210203, 0),
 (168055624, 0),
 (693021234, 0),
 (1518522861, 0),
 (120899186, 0),
 (1662108620, 1),
 (1963400913, 1),
 (187490853, 0),
 (111200482, 0),
 (1368774153, 0),
 (558270578, 1),
 (1584106169, 0),
 (1753870377, 0),
 (1590341462, 0),
 (1613834595, 0),
 (1591385883, 1),
 (656873138, 0),
 (632108761, 0),
 (1421018617, 0),
 (1722962970, 0),
 (1320083491, 1),
 (962463040, 1),
 (757363825, 1),
 (1509257738, 0),
 (1174814440, 1),
 (424927745, 0),
 (397596883, 0),
 (388615282, 1),
 (1796728869, 1),
 (779479105, 0),
 (158575348, 0),
 (128359331, 0),
 (793403038, 1),
 (1286755637, 0),
 (1968339566, 1),
 (1093531279, 0),
 (1374020535, 0),
 (1776991200, 0),
 (231486696, 0),
 (1789504162, 1),
 (239659846, 0),
 (1186153028, 0),
 (813561398, 1),
 (519397078, 0),
 (1613900706, 0),
 (829272795, 0),
 (1184551176, 0),
 (1994662642, 0),
 (603397940, 1),
 (308986597, 1),
 (1867739107, 0),
 (825840937, 0),
 (1273376451, 0),
 (1892779925, 0),
 (740966847, 1),
 (843285400, 0),
 (697187440, 0),
 (1681407391, 1),
 (1382545959, 1),
 (1336253933, 0),
 (682614324, 1),
 (1641320870, 0),
 (1526234083, 0),
 (696244565, 1),
 (1167250458, 0),
 (125571081, 1),
 (498875018, 0),
 (240590558, 0),
 (767312858, 0),
 (1130364483, 0),
 (1735338314, 1),
 (826366485, 0),
 (1897435808, 0),
 (361803220, 0),
 (718135045, 1),
 (961901595, 0),
 (1822079126, 1),
 (505534570, 1),
 (1433435694, 1),
 (248534926, 0),
 (1090587869, 0),
 (1488224453, 1),
 (1528014781, 0),
 (527600948, 1),
 (944871632, 0),
 (1539622202, 0),
 (566380539, 1),
 (995016704, 0),
 (1228351289, 0),
 (881679778, 0),
 (1537474930, 0),
 (1792295434, 0),
 (105735903, 0),
 (855969266, 1),
 (531654571, 0),
 (939122413, 0),
 (890736596, 0),
 (1235240013, 0),
 (1352026980, 0),
 (1035428487, 0),
 (1919121386, 0),
 (679081061, 1),
 (519783219, 1),
 (1401763003, 0),
 (1288585447, 1),
 (1457735405, 1),
 (265629457, 1),
 (1908034006, 0),
 (1355963967, 0),
 (328624180, 1),
 (1693881416, 0),
 (241025095, 1),
 (1060919818, 0),
 (1952475386, 0),
 (1989228515, 1),
 (1651616091, 0),
 (1457212219, 1),
 (184127385, 0),
 (338542866, 0),
 (1104772582, 0),
 (1937850404, 0),
 (1563795675, 1),
 (569156694, 0),
 (370914387, 1),
 (1043053173, 0),
 (637591178, 0),
 (1227033492, 0),
 (549001513, 0),
 (1547132249, 0),
 (350320513, 0),
 (117884654, 1),
 (848185422, 0),
 (1951320551, 0),
 (1832674245, 0),
 (1045160617, 1),
 (117899808, 0),
 (419991749, 1),
 (1748751784, 0),
 (587808431, 1),
 (576044443, 1),
 (641447450, 1),
 (1489763124, 1),
 (401102881, 0),
 (749600543, 0),
 (923914188, 0),
 (261402267, 0),
 (1328728834, 0),
 (187763544, 1),
 (322743852, 1),
 (1244848490, 1),
 (720685487, 0),
 (1077946640, 0),
 (1634639540, 0),
 (1037900031, 0),
 (504482843, 1),
 (1943632319, 1),
 (1169128949, 0),
 (873093419, 0),
 (394505955, 1),
 (1283178658, 0),
 (176974952, 0),
 (1188879681, 0),
 (457367520, 0),
 (705599412, 1),
 (1440959066, 0),
 (709590715, 0),
 (847023934, 0),
 (1375044033, 0),
 (1379543540, 1),
 (787425237, 0),
 (1997741154, 0),
 (178133179, 0),
 (490154884, 0),
 (1710696065, 0),
 (1451455609, 0),
 (1332897077, 1),
 (582991767, 0),
 (1441600420, 0),
 (203752855, 0),
 (1640593784, 1),
 (1648078802, 0),
 (1999193934, 1),
 (1122888026, 0),
 (1215575831, 0),
 (1335051486, 0),
 (1977784347, 0),
 (959997678, 1),
 (994016480, 1),
 (1354074957, 1),
 (783626089, 0),
 (1889164538, 0),
 (1909315120, 0),
 (1378083416, 0),
 (1848166829, 1),
 (1135062582, 0),
 (1707374444, 0),
 (1418414278, 1),
 (759977626, 0),
 ...]

In [12]:
res = pd.DataFrame(result1)
res_suc = res[res[1] == 1]
map = {0: 'client_id', 1: 'outcome'}
outcome = res_suc.rename(columns=map)
outcome

       client_id  outcome
4     1068680340        1
6      422084751        1
7      123316323        1
9     1861869059        1
14     122279077        1
...          ...      ...
8838  1903776674        1
8839   887694228        1
8840  1182886062        1
8845  1208330461        1
8846  1335817823        1

[2796 rows x 2 columns]

In [50]:
joined = pd.merge(df, outcome, on=['client_id','client_id'], how="inner", indicator=True)
joined.drop(columns=['outcome', '_merge'], inplace=True)
joined

,client_id,age,job,marital,education,gender,has_deposits,loan,has_insurance,has_mortgage,mean_balance,max_balance,min_balance,dif_balance,currency,age_group,balance_change_y
0,1068680340,63.0,admin.,married,secondary,F,yes,no,n,yes,0.972130,77.806737,-104.261740,182.068477,CZK,60,128401.966138
1,422084751,30.0,technician,single,secondary,M,yes,no,n,no,2561.223346,2634.111167,2486.790068,147.321099,CZK,30,110648.005976
2,123316323,36.0,blue-collar,divorced,secondary,F,yes,no,n,no,2841.068900,2937.134176,2720.984988,216.149188,CZK,30,176224.042205
3,1861869059,66.0,retired,married,secondary,M,no,no,n,no,3450.227742,3551.465162,3334.598877,216.866285,CZK,60,164396.401467
4,122279077,44.0,self-employed,married,unknown,F,yes,no,n,yes,175.310695,271.779298,60.734525,211.044773,CZK,40,164022.701399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2791,1903776674,39.0,management,divorced,tertiary,M,yes,no,n,no,224.987226,357.034274,61.498673,295.535600,CZK,30,224428.088760
2792,887694228,27.0,blue-collar,single,secondary,F,yes,no,n,no,3781.777344,3868.336354,3648.086964,220.249389,CZK,20,174736.693110
2793,1182886062,46.0,admin.,divorced,secondary,F,yes,no,n,no,2213.339515,2352.019870,2104.151111,247.868759,CZK,40,153368.528820
2794,1208330461,46.0,management,married,secondary,F,yes,no,n,no,152.848535,268.701324,17.437500,251.263824,CZK,40,190203.643966
2795,1335817823,41.0,blue-collar,married,primary,M,yes,no,y,no,239.464578,314.273881,140.546806,173.727075,CZK,40,87725.840205

In [51]:
df1 = pd.merge(df, outcome, on=['client_id','client_id'], how="outer", indicator=True)
df1 = df1[df1['_merge'] == 'left_only']

In [52]:

depo = df1[(df1['has_deposits'] == 'yes') & (df1['has_mortgage'] == 'no')]
depo.drop(columns=['outcome', '_merge'], inplace=True)
depo

C:\Users\spiri\AppData\Local\Temp\ipykernel_13280\748767618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  depo.drop(columns=['outcome', '_merge'], inplace=True)

,client_id,age,job,marital,education,gender,has_deposits,loan,has_insurance,has_mortgage,mean_balance,max_balance,min_balance,dif_balance,currency,age_group,balance_change_y
123,130223900,41.0,blue-collar,married,secondary,M,yes,yes,n,no,-194.664609,-110.328878,-329.087759,218.758882,CZK,40,55545.917217
293,167916114,34.0,admin.,single,secondary,M,yes,yes,n,no,-45.318717,58.931641,-156.220994,215.152635,CZK,30,86333.392865
326,175441990,53.0,housemaid,married,primary,M,yes,yes,n,no,118.214571,206.341138,44.951541,161.389597,CZK,50,69595.653015
376,187674401,35.0,management,single,tertiary,M,yes,yes,n,no,-311.364634,-220.912357,-382.852988,161.940631,CZK,30,69165.089537
403,193510933,51.0,services,divorced,secondary,F,yes,yes,n,no,243.498003,341.319131,80.435848,260.883283,CZK,50,247618.704421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8549,1936300610,36.0,management,single,tertiary,M,yes,yes,n,no,2042.932116,2152.242240,1902.437758,249.804482,CZK,30,157623.673605
8614,1951320551,57.0,housemaid,married,primary,F,yes,yes,n,no,617.482556,737.561611,485.243099,252.318513,CZK,50,170268.233278
8660,1960076428,44.0,unemployed,single,primary,M,yes,yes,n,no,-3.001486,119.022483,-88.188904,207.211387,CZK,40,80301.483562
8787,1983122569,54.0,self-employed,single,tertiary,M,yes,yes,n,no,378.601565,488.462126,253.540394,234.921732,CZK,50,156085.485668
8798,1985169848,47.0,technician,married,secondary,F,yes,yes,n,no,848.342687,1013.606032,709.506340,304.099692,CZK,40,217538.407837

In [76]:
client_base = pd.concat([joined, depo])
client_base

,client_id,age,job,marital,education,gender,has_deposits,loan,has_insurance,has_mortgage,mean_balance,max_balance,min_balance,dif_balance,currency,age_group,balance_change_y
0,1068680340,63.0,admin.,married,secondary,F,yes,no,n,yes,0.972130,77.806737,-104.261740,182.068477,CZK,60,128401.966138
1,422084751,30.0,technician,single,secondary,M,yes,no,n,no,2561.223346,2634.111167,2486.790068,147.321099,CZK,30,110648.005976
2,123316323,36.0,blue-collar,divorced,secondary,F,yes,no,n,no,2841.068900,2937.134176,2720.984988,216.149188,CZK,30,176224.042205
3,1861869059,66.0,retired,married,secondary,M,no,no,n,no,3450.227742,3551.465162,3334.598877,216.866285,CZK,60,164396.401467
4,122279077,44.0,self-employed,married,unknown,F,yes,no,n,yes,175.310695,271.779298,60.734525,211.044773,CZK,40,164022.701399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8549,1936300610,36.0,management,single,tertiary,M,yes,yes,n,no,2042.932116,2152.242240,1902.437758,249.804482,CZK,30,157623.673605
8614,1951320551,57.0,housemaid,married,primary,F,yes,yes,n,no,617.482556,737.561611,485.243099,252.318513,CZK,50,170268.233278
8660,1960076428,44.0,unemployed,single,primary,M,yes,yes,n,no,-3.001486,119.022483,-88.188904,207.211387,CZK,40,80301.483562
8787,1983122569,54.0,self-employed,single,tertiary,M,yes,yes,n,no,378.601565,488.462126,253.540394,234.921732,CZK,50,156085.485668
8798,1985169848,47.0,technician,married,secondary,F,yes,yes,n,no,848.342687,1013.606032,709.506340,304.099692,CZK,40,217538.407837

In [58]:
rndppl = pd.merge(df, client_base, on=['client_id'], how="outer", indicator=True)
rndppl = rndppl[rndppl['_merge'] == 'left_only']
rndppl.dropna(axis=1, inplace=True)
rndppl

,client_id,age_x,marital_x,education_x,gender_x,has_deposits_x,loan_x,has_insurance_x,has_mortgage_x,mean_balance_x,max_balance_x,min_balance_x,dif_balance_x,currency_x,age_group_x,balance_change_y_x,_merge
0,100070076,41.0,divorced,tertiary,M,no,no,n,no,203.907928,361.807400,103.460451,258.346949,CZK,40,226645.598677,left_only
1,100141910,34.0,single,tertiary,F,no,no,n,yes,2544.965438,2666.636101,2449.282039,217.354063,CZK,30,141673.231917,left_only
3,100646594,75.0,divorced,primary,F,no,no,n,no,37131.526158,37281.123426,37015.861279,265.262146,CZK,70,193556.380846,left_only
4,100741497,56.0,married,secondary,M,no,no,n,yes,228.186356,379.549653,91.039351,288.510302,CZK,50,267354.905468,left_only
5,100757123,33.0,married,secondary,F,no,no,n,yes,5783.153417,5937.708127,5685.106154,252.601973,CZK,30,179391.433785,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8855,1998762652,37.0,married,secondary,M,no,no,n,yes,477.129738,562.430159,355.603264,206.826894,CZK,30,117378.878802,left_only
8858,1999460711,53.0,divorced,secondary,M,no,yes,n,yes,215.601872,348.240956,128.394602,219.846354,CZK,50,172236.703890,left_only
8859,1999463182,34.0,married,secondary,M,no,no,n,yes,1268.089349,1376.045106,1146.101785,229.943321,CZK,30,170357.398835,left_only
8860,1999499145,31.0,single,tertiary,F,no,no,n,yes,-4.751058,104.483184,-119.430736,223.913920,CZK,30,88949.557622,left_only
8861,1999715381,24.0,married,secondary,M,yes,no,n,yes,676.988885,792.767525,588.766521,204.001004,CZK,20,75448.599474,left_only

In [80]:
rndppl = rndppl.sort_values(by='max_balance_x', ascending=False)
rndppl[0:4]
big_balance = rndppl[0:4]
big_balance

,client_id,age_x,marital_x,education_x,gender_x,has_deposits_x,loan_x,has_insurance_x,has_mortgage_x,mean_balance_x,max_balance_x,min_balance_x,dif_balance_x,currency_x,age_group_x,balance_change_y_x,_merge
1381,415300718,52.0,married,primary,F,no,no,n,no,66659.912413,66747.365096,66583.084323,164.280773,CZK,50,123918.451218,left_only
5306,1239608796,43.0,single,secondary,F,no,no,n,no,56825.121802,56918.339731,56683.868334,234.471397,CZK,40,159411.887637,left_only
6467,1494666538,56.0,married,tertiary,M,no,yes,n,no,51431.314882,51513.776140,51325.437741,188.338399,CZK,50,105228.273796,left_only
3,100646594,75.0,divorced,primary,F,no,no,n,no,37131.526158,37281.123426,37015.861279,265.262146,CZK,70,193556.380846,left_only

In [81]:
rndpplbb = rndppl.sort_values(by='balance_change_y_x', ascending=False)
rndpplbb = rndpplbb[rndpplbb['has_deposits_x'] == 'yes']
dep_change = rndpplbb[:115]
dep_change

,client_id,age_x,marital_x,education_x,gender_x,has_deposits_x,loan_x,has_insurance_x,has_mortgage_x,mean_balance_x,max_balance_x,min_balance_x,dif_balance_x,currency_x,age_group_x,balance_change_y_x,_merge
8486,1922188215,34.0,single,tertiary,M,yes,no,n,yes,2823.482078,2979.748234,2668.680926,311.067308,CZK,30,405667.225875,left_only
5818,1349718296,35.0,single,tertiary,M,yes,no,n,yes,161.532166,379.426913,49.910389,329.516524,CZK,30,393702.653996,left_only
6711,1550899005,31.0,single,tertiary,F,yes,no,n,yes,151.692462,297.753574,13.454011,284.299564,CZK,30,386583.202053,left_only
1755,497978154,35.0,married,secondary,F,yes,no,n,yes,5624.705745,5791.475967,5467.672199,323.803768,CZK,30,377528.952120,left_only
8274,1878319679,47.0,married,secondary,M,yes,yes,n,yes,4417.958157,4575.207522,4291.114566,284.092955,CZK,40,370264.470510,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3976,954059680,45.0,divorced,primary,F,yes,no,n,yes,-291.029318,-156.427427,-389.364524,232.937097,CZK,40,221179.925556,left_only
1872,519397078,40.0,married,primary,F,yes,no,n,yes,283.067227,456.871527,170.082694,286.788833,CZK,40,220888.666278,left_only
8849,1997889070,32.0,married,secondary,F,yes,no,n,yes,-10.920405,103.854653,-131.261945,235.116598,CZK,30,219988.587943,left_only
8127,1847607853,48.0,divorced,primary,M,yes,no,n,yes,20.396204,142.005825,-108.222443,250.228267,CZK,40,219931.893741,left_only
4099,981853902,30.0,married,secondary,F,yes,no,n,yes,486.986044,609.942219,377.310429,232.631790,CZK,30,219683.483671,left_only

In [78]:
client_base = pd.concat([client_base, big_balance])
client_base = pd.concat([client_base, dep_change])

In [84]:
client_ids = client_base.client_id
client_ids.to_csv('client_ids.csv', index=False)