In [1]:
from sklearn.metrics import classification_report, accuracy_score, roc_curve, auc, recall_score
from sklearn.model_selection import train_test_split, TimeSeriesSplit
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
import sqlite3
import pandas as pd
from keras.callbacks import EarlyStopping
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin
import numpy as np
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.ensemble import GradientBoostingRegressor

In [17]:
conn = sqlite3.connect(r'C:\Users\spiri\codingbootcamp\Final-project-C4Y\data.db')
cursor = conn.cursor()
query = ('''
Select * 
from inv_campaign_eval
left join client
on inv_campaign_eval.client_id = client.client_id
left join client_products
on inv_campaign_eval.client_id = client_products.client_id
''')
df = pd.read_sql_query(query, conn)

df

,client_id,poutcome,client_id,age,job,marital,education,gender,client_id,has_deposits,loan,has_insurance,has_mortgage
0,249789938,success,249789938,38.0,services,married,secondary,M,249789938,yes,no,n,no
1,1504633819,failure,1504633819,38.0,management,married,tertiary,M,1504633819,no,yes,n,yes
2,1952195738,success,1952195738,34.0,services,married,secondary,M,1952195738,yes,yes,n,no
3,989726384,success,989726384,62.0,retired,married,secondary,F,989726384,yes,no,n,no
4,1971878545,failure,1971878545,36.0,management,single,tertiary,M,1971878545,yes,no,n,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2294,1270855655,failure,1270855655,58.0,admin.,divorced,secondary,F,1270855655,yes,no,y,yes
2295,471724023,success,471724023,72.0,retired,married,primary,M,471724023,yes,no,n,no
2296,620088171,failure,620088171,34.0,admin.,married,tertiary,F,620088171,yes,no,y,yes
2297,1518319265,success,1518319265,39.0,management,married,unknown,F,1518319265,yes,no,n,no
2298,705801685,success,705801685,36.0,blue-collar,single,secondary,F,705801685,yes,no,n,yes

In [19]:
dfc = df[(df.has_deposits == 'yes') & (df.poutcome == 'success')]
dfc

,client_id,poutcome,client_id,age,job,marital,education,gender,client_id,has_deposits,loan,has_insurance,has_mortgage
0,249789938,success,249789938,38.0,services,married,secondary,M,249789938,yes,no,n,no
2,1952195738,success,1952195738,34.0,services,married,secondary,M,1952195738,yes,yes,n,no
3,989726384,success,989726384,62.0,retired,married,secondary,F,989726384,yes,no,n,no
7,178705988,success,178705988,44.0,management,single,tertiary,F,178705988,yes,no,n,no
8,1744740913,success,1744740913,30.0,student,single,secondary,M,1744740913,yes,no,n,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2292,727430476,success,727430476,37.0,management,single,tertiary,F,727430476,yes,no,n,yes
2293,1404318820,success,1404318820,38.0,technician,married,tertiary,F,1404318820,yes,no,n,no
2295,471724023,success,471724023,72.0,retired,married,primary,M,471724023,yes,no,n,no
2297,1518319265,success,1518319265,39.0,management,married,unknown,F,1518319265,yes,no,n,no
2298,705801685,success,705801685,36.0,blue-collar,single,secondary,F,705801685,yes,no,n,yes